.processes_container {
  background-color: #1B1464;
  padding: 40px 0;
}

.main_container {
  max-width: 1430px;
  margin: 0 auto;
}

.inside_container {
  width: 90%;
  margin: 0 auto;
}

.title_first {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  line-height: 45px;
  color: #016ECC;
}

.title_second {
  max-width: 520px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  line-height: 60px;
  color: #FFFFFF;
}

.title_third {
  max-width: 520px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 30px;
  color: #FFFFFF;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.btn {
  width: 170px;
  height: 50px;
  border-color: #016ECC!important;
}

.first_btn {
  margin-top: 20px;
}

.second_btn {
  margin-top: 80px;
}

